@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }

.main{
    padding-inline: 8%;
}
@media (min-width: 992px) {
    .main {
        max-width: 40%;
        padding-inline: 0%;
    }
}

.divider {
    border-top: 1px solid #444444;
    margin: 20px 0;
  }
  .dividerh1 {
    border-top: 1px solid #444444;
    margin-top: -4px;
  }
  .dark{
    background-color: black;
  }
.badge{
    background-color: #313131;
}
#uname{
    background-color: #666666;
    border: none;
    color: #ffffff;
    padding-left: 12px;
    padding-block: 5px;
    width: 100%;
}
input[type="checkbox"] {
    appearance: none; /* Nasconde l'aspetto predefinito */
    width: 24px;
    height: 24px;
    background-color: black;
    border: 1px solid #555;
    border-radius: 0px;
    cursor: pointer;
  }

  input[type="checkbox"]:checked {
    background-color: black;
    border-color: #a0a0a0;
  }

.h4{
    font-size: 1.1rem;
    margin-bottom: 8px;
}
.textColor{
    color:#a0a0a0;
}
label{
    font-size: 13px;
}
p{
    font-size: 14px;
}
.button{
    color:#a0a0a0;
    border: #a0a0a0 1px solid;
}