@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }


@media (min-width: 992px) {
    .main {
        max-width: 40%;
    }
}

.divider {
    border-top: 1px solid #444444;
    margin: 20px 0;
  }
  .dark{
    background-color: black;
  }
.badge{
    background-color: #313131;
}
#uname{
    background-color: #666666;
    border: none;
    color: white;
    padding-left: 12px;
    padding-block: 5px;
    width: 100%;
}
input[type="checkbox"] {
    appearance: none; /* Nasconde l'aspetto predefinito */
    width: 24px;
    height: 24px;
    background-color: black;
    border: 1px solid #555;
    border-radius: 0px;
    cursor: pointer;
  }

  input[type="checkbox"]:checked {
    background-color: black;
    border-color: white;
  }