@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }


@media (min-width: 992px) {
    .main {
        max-width: 40%;
    }
}

.divider {
    border-top: 1px solid #444444;
    margin: 20px 0;
  }